
<body class="home-back">

<div class="container" align="center">
	<div class="join-box">
		<div class="catch-phrase">
			Create your profile. Find friends. 
		</div>
		<a href="<%=new_user_registration_path%>">
			<div class="join-button">
				Join Now >>
			</div>
		</a>
	</div>
</div>
</body>