<div class="container" align="center">
	<span class="emp text"></span>
	<div class="loader">
		<img src="/assets/loader.gif">
	</div>
	<br><br>
	The USTA ID you have signed up with is: <u><%=current_user.usta_id %></u>. 
	<br><br>
	If this is incorrect, please <%= link_to "click here and sign up again with the correct USTA ID", destroy_old_path, method: :delete %>
</div>