<div class="container" align="left">
	<div class="privacy-title">
		Tennis Book Privacy Policy
	</div>
	<div class="privacy-header">
		WORKING DRAFT – SUBJECT TO CHANGE WITHOUT NOTICE
	</div>
	<div class="privacy-section">
		Your privacy is important to Bari Enterprises and Tennis Book (“TennisBook”). This Privacy Policy defines privacy aspects specific to the TennisBook.com Web site and affiliated Web sites owned by TennisBook and its subsidiaries. TennisBook has created this policy to demonstrate our firm commitment to privacy. This statement describes the information practices at TennisBook Web sites, including what type of information is gathered and tracked, how the information is used, and with whom the information is shared.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			CONSENT
		</div>
		Your use of the TennisBook Web site signifies your consent to us collecting personal information about you in accordance with this Privacy Policy.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			MINORS
		</div>
		TennisBook encourages parents and guardians to monitor and participate in their children’s online activities. Although this is a Web site directed at junior tennis players and their families, we do not knowingly collect information from our guests under 13 years of age. If you are under 13 years of age, do not send any information about yourself to TennisBook. <span class="required-field">USERS UNDER 13 YEARS OF AGE ARE NOT PERMITTED TO REGISTER AT TENNISBOOK</span>. If TennisBook discovers that a child under the age of 13 has provided TennisBook with personal information, we will delete the child’s personal information from our system. Information for a child under 13 years of age can only be submitted by a parent or legal guardian. TennisBook will ask you to indicate your age to verify compliance with these policies.
		<br><br>
		All information we collect is in compliance with the Children’s Online Privacy Protection Act (COPPA) of 1998 (15 U.S.C. 6501 et seq.).
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			PERSONAL INFORMATION
		</div>
		In general, you can visit TennisBook on the Internet without telling us who you are or giving any personal information about yourself. There are times, however, when we or our partners may need information from you.
		<br><br>
		You may choose to give us personal information in a variety of situations. For example, you may want to give us information, such as your name and address or e-mail id, to correspond with you, to process an order, or to provide you with a subscription. We intend to let you know how we will use such information before we collect it from you. If you give us personal information about somebody else, such as a spouse or relative, we will assume that you have their permission to do so.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			USING AND SHARING PERSONAL INFORMATION
		</div>
		The following paragraphs describe in more detail how TennisBook may use your personal information and with whom we may share it. Depending on the area of TennisBook you are visiting, one or more of the paragraphs may apply. For example, if you order a product from TennisBook, your information will be handled as described in such paragraphs as Fulfilling Your Transaction Request and Marketing Use.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			FULFILLING YOUR TRANSACTION REQUEST
		</div>
		If you request something from the TennisBook Web site, for example, a product or service, a callback, or specific marketing materials, we will use the information you provide to fulfill your request. To help us do this, we may share information, with others, for instance, TennisBook’s business promotional partners, financial institutions, shipping companies, postal or government authorities (for example, Customs authorities) involved in fulfillment. In connection with a transaction, we may also contact you as part of our customer satisfaction surveys or for market research purposes.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			MARKETING USE
		</div>
		The information you provide at the TennisBook Web site may also be used by TennisBook or its affiliates for marketing and promotional purposes. However, TennisBook will not sell or lease your information to third-parties, partners, or sponsors.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			DISCUSSION FORUMS AND CHAT ROOMS
		</div>
		If you participate in a TennisBook discussion forum or chat room, you should be aware that the information you provide there will be made broadly available to others, potentially inside or outside TennisBook, who have access to that discussion forum or chat room. Also, please recognize that individual forums and chat rooms may have additional rules and conditions. Each participant’s opinion on a forum or chat room is his or her own and should not be considered as reflecting the opinion of TennisBook.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			CONTESTS, SWEEPSTAKES, PROMOTIONS AND SURVEYS
		</div>
		From time to time, TennisBook may offer you the option to participate in contests, sweepstakes, promotions, or surveys. If you would like to participate, we may ask you for contact information, preferences, or other information. This information may be used to conduct research, improve our offerings, or award prizes. Our contest, promotions and sweepstakes may have separate rules and we will identify how the information that you supply will be used in each case.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			INFORMATION SECURITY AND QUALITY
		</div>
		We intend to protect your personal information and to maintain its quality. We implement appropriate measures and processes, such as using encryption when transmitting certain sensitive information, to help us to keep your information secure and to maintain its quality.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			SUPPLEMENTING INFORMATION
		</div>
		From time to time we may supplement information you give us via the TennisBook Web site with information from other sources, such as information validating your address or other available information about businesses. This is to help us maintain the accuracy of the information we collect and to help us provide a better service.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			COOKIES
		</div>
		We sometimes collect non-identifiable information from visits to our Web sites to help us provide better customer service. For example, we keep track of the domains from which people visit, and we also measure visitor activity on the TennisBook Web sites, but we do so in ways that keep the information non-identifiable. This information is sometimes known as “clickstream data.” TennisBook, or others on behalf of TennisBook may use this data to analyze trends and statistics and to help us provide better customer service.
		<br><br>
		Also, when we collect personal data from you in a transaction, we may extract some information about that transaction in a non-identifiable format and combine it with other non-identifiable information such as clickstream data. This information is used and analyzed only at an aggregate level to help us understand trends and patterns. This information is not reviewed at an individual level. If you do not want your transaction details used in this manner you can disable your cookies.
		<br><br>
		We collect the information we mentioned in the previous paragraphs through the use of various technologies, including one called “cookies”. A cookie is a piece of data that a Web site can send to your browser, which may then be stored on your computer as an anonymous tag that identifies your computer but not you. Some TennisBook pages use cookies, sent by TennisBook or its third party vendors, or other technologies to better serve you when you return to the Web site. You can set your browser to notify you before you receive a cookie, giving you the chance to decide whether to accept it. You can also set your browser to turn off cookies. If you do so, however, some Web sites may not work properly.
		<br><br>
		We use third-party advertising companies to serve ads when you visit our Web site. These companies may use information (not including your name, address, email address, or telephone number) about your visits to this and other Web sites in order to provide advertisements about goods and services of interest to you. 
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			IP ADDRESS
		</div>
		TennisBook uses your IP address to help diagnose problems with our server and to administer our Web site. Your IP address is used to help identify you and to gather broad demographic information.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			SERVICE QUALITY MONITORING
		</div>
		Certain Web transactions may also involve you calling us or our calling you. Please be aware that it is the general practice of TennisBook to monitor and in some cases record such calls for staff training or quality assurance purposes.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			DISCLOSURES REQUIRED BY LAW
		</div>
		Please be aware that in certain circumstances, it is possible that personal information may be subject to disclosure pursuant to judicial or other government subpoenas, warrants, or orders.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			PRIVACY TECHNOLOGY
		</div>
		Technology will increasingly help give you more control over your personal information. It will also help organizations to manage their privacy practices and policies.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			LINKS TO OTHER WEB SITES
		</div>
		TennisBook Web sites may contain links to other Web sites. TennisBook is not responsible for the privacy practices or the content of those other Web sites.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			SUBMISSIONS
		</div>
		With the exception of credit card numbers for the purchase of products and services, TennisBook does not want to receive confidential or proprietary information through the TennisBook Web site.
		<br><br>
		TennisBook collects player information including, but not limited to, graduation year, high school, tennis academy, handedness, career highlights, academic information, and contact information. This player information is clearly divided into public information (“Public Information”) and private information (“Private Information”). TennisBook will display Public Information at TennisBook and affiliate sites for the general public. Private Information will only be made available to college tennis coaches.
		<br><br>
		All other information sent to TennisBook with the exception of credit card numbers, will be deemed NOT CONFIDENTIAL. You grant TennisBook an unrestricted, irrevocable license to display, use, modify, perform, reproduce, transmit, and distribute any information you send TennisBook for any and all commercial and non-commercial purposes.
		<br><br>
		TennisBook may, but is not obligated to, review or monitor areas on its site where users may transmit or post information and data. TennisBook is not responsible for the accuracy of any information and data.
		<br><br>
		You are prohibited from posting or transmitting to or from this Web site any libelous, obscene, defamatory, pornographic, or other materials that would violate any laws. However, if such communications do occur, TennisBook will have no liability related to the content of any such communications.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			PROTECTING YOURSELF WHILE ONLINE
		</div>
		You can help to protect your information by safeguarding your TennisBook user name and password.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			CHANGES TO PRIVACY POLICY
		</div>
		TennisBook reserves the right to modify this Privacy Policy at any time. Please check back periodically to be familiar with our terms, especially before you provide any personally identifiable information.
	</div>
	<div class="privacy-section">
		<div class="privacy-header">
			CONTACTING TENNISBOOK
		</div>
		If you have any questions about this Privacy Policy, the practices of this Web site or your dealings with this Web site, contact:
		<br><br>
		Tennis Book 
		<br>
		P. O. Box 2066
		<br>
		Philadelphia, PA 19103 
		<br>
		<a href="mailto:info@bariconsulting.com">info@bariconsulting.com</a>
	</div>
</div>