Hi there,
<br><br> 
<%=@player.real_name%> has invited you to join TennisBook's private beta! 
<br><br> 
<a href="https://tennisbook.herokuapp.com/join">Click here to activate your TennisBook profile now</a>
<br><br> 
Sincerely,
<br>
The TennisBook Team