// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$black: #000000;
$orange: #FF7600;
$lightorange: #FF9840;
$green: #00C322;
$lightgreen: #38E156;
$lightblue: #C3EEF4;

