// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$black: #313131;
$orange: #FF7600;
$lightorange: #FF9840;
$green: #00C322;

@font-face {
    font-family: 'Montreal';
    src: url('montreal-demibold.ttf'); 
}

@font-face {
    font-family: 'Nexa Light';
    src: url('Nexa Light.otf'); 
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('Nexa Bold.otf'); 
}

body {
	font-family: "Nexa Light" !important;
}

.logo{
    width: 200px;
}

.nav {
    margin-top: 15px !important;
}

.navbar-toggle {
    margin-top: 23px !important;   
}

input[type="text"],input[type="email"],input[type="password"]{
        height: 40px;
        margin-bottom: 10px;
        padding: 10px;
        border: solid 1px #CCC;
        border-radius: 3px;
}

textarea {
    border: solid 1px #CCC;
    border-radius: 3px;
}   

button.close {
    padding: 10px !important;
}

input[type="submit"]{
    border: none;
    padding: 12px 30px;
    margin: 15px;
    border-radius: 3px;
    background: $orange; 
    color: white;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: $lightorange;
}

.devise-title {
    color: $orange;
    font-size: 28px;
    margin: 20px 0px;
}

.catch-phrase {
    font-size: 26px;
    padding: 15px 0px 50px 0px;
    color: $orange;
    line-height: 28px;
}