// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$black: #000000;
$orange: #FF7600;
$lightorange: #FF9840;
$green: #00C322;
$lightgreen: #38E156;
$lightblue2: #5790D0;
$lightblue: #C3EEF4;
$blue: #245fa1;

/* Dashboard */


.player-name {
	font-size: 38px;
	color: $green;
	padding-top: 5px;
	padding-bottom:5px;
}

.new-player {
	background: $lightgreen;
	padding: 10px;
	border-radius: 3px;
	width: 200px;
	color: white;
	cursor: pointer;
	text-align: center;
}

.new-player:hover {
	background: $green;
}

.accounts-title {
	font-size: 16px;
}

.no-format-submit {
	background: none !important;
	color: $black !important;
	padding: 0px !important;
	font-size: inherit !important;
	margin: inherit !important;
	cursor: pointer;
}

.no-format-submit:hover {
	color: $green !important;
}

.add-new-player-button {
	cursor: pointer;
}

.add-new-player-button:hover {
	color: $green;
}

.accounts {
	color: $black;
	padding-bottom: 5px;
}

.ad {
	background: #EEE;
	height: 250px;
	width: 90%;
	padding: 15px;
	margin: 30px 0px;
}

@media (max-width: 992px) {
  .ad {
    display: none;
  }
}

.section-box {
	padding: 30px;
	border: solid 1px green;
	margin: 30px 0px;
	border-radius: 3px;
	border-top: solid 5px $green;
	cursor: pointer;
}

.section-box-hover:hover {
	background: $lightblue;
}

.section-title {
	font-size: 28px;
}


.info-row {
	padding-bottom: 20px;
}

.dash-title {
	font-size: 30px;
	padding: 20px 0px 30px 0px;
	color: white;
	background: $green;
	padding: 15px;
	border-radius: 3px;
}

.profile-info {
	margin-top: 15px;
}


.blue-submit {
 background: $blue !important;   
}

.blue-submit:hover {
 background: $lightblue2 !important;   
}

.toggle {
	padding: 10px;
	background: #EEE;
	border-radius: 3px;
	border: solid 1px;
	cursor:pointer;
	margin: 5px;
}

.toggle-active {
	padding: 10px;
	margin: 5px;
	background: $lightblue;
	border-radius: 3px;
	border: solid 1px;
	cursor:pointer;
}

.toggle:hover {
	background: #F6F6F6;
}

.profile-img {
	padding: 25px 10px;
	background: #F6F6F6;
	border-radius: 3px;
	font-size: 17px;
	cursor: pointer;
}

.profile-img img {
	width: 150px;
	padding: 15px;	
}

.opponent-detail-box {
	padding-top: 30px;
}

.opponent-details {
	font-size: 18px;
}

.emp {
	color: $orange;
	font-size: 20px;
}

.friend-status {
	padding: 15px;
	color: $green;
	margin-top: 30px;
	font-size: 18px;
}

.friend-status-button {
	padding: 15px;
	width: 200px;
	border-radius: 3px;
	background: $green;
	color: white;
	margin-top: 30px;
	cursor: pointer;
}

.sub-dash-title {
	font-size: 25px;
	padding: 7px;
	color: white;
	background: $green;
	border-radius: 3px;
	margin-bottom: 15px;	
	max-width: 600px;
}

.opp-prof {
	width: 120px;
	padding: 15px;
	background: #F6F6F6;
	border-radius: 3px;
}

.opp-row {
	margin: 15px 0px;
}

.opp-info {
	font-size: 18px;
	line-height: 32px;
}

.opp-score {
	font-size: 32px;
	padding-top: 15px;
}

/* CSS for own Results Page */

.match-box {
	margin: 10px;
	border: solid 1px;
	max-width: 600px;
	padding: 15px;
	background: $lightblue;
}

.score-box {
	padding: 5px 0px;
}

.scoring-table td {
	padding: 5px 10px;
	border: solid 2px;
}

.win-check {
	width: 15px;
	margin-left: 12px;
	margin-top: -4px;
}


/* CSS for Friend List Page */

.friends-box {
	font-size: 18px;
	padding: 5px 0px;
	line-height: 32px;
}

.friends-title {
	color: $orange;
	font-size: 28px;
	padding: 20px 0px;
}

.friends-box input[type="submit"] {
	color: $green;
	background: none;
	padding: auto;
	margin: auto;
}


/* CSS for Profile Page */

.prof-image {
	width: 150px;
	padding: 25px;
	background: #F6F6F6;
	border-radius: 3px;
	cursor: pointer;
}

.prof-image:hover {
	background: #EEE;
}

.edit-pic-box {
	position: relative;
	width: 150px;
}

.edit-pic-button {
	position: absolute;
	display: none;
	width: 150px;
	padding: 15px;
	background: $black;
	color: white;
	font-size: 14px;
	cursor: pointer;
	opacity: 0.7;
}

.add-pic-button {
	position: absolute;
	display: block;
	width: 150px;
	padding: 15px;
	background: $black;
	color: white;
	font-size: 14px;
	cursor: pointer;
	opacity: 0.7;
}

input[type="file"] {
    display: inline-block !important;
    width: 200px;
}

.account-info {
	font-size: 15px;
	padding: 6px 0px;
}

.account-info .emp {
	font-size: 15px;
}

.sub-profile-title{
	font-size: 18px;
	color: $black;
	padding: 0px 0px;
}